:root {
    --mainText: black;

    --secondaryText: #4b5156;

    --borderColor: #c1c1c1;

    --mainColor: #eaeaea;

    --secondaryColor: #fff;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: "Russo", sans-serif;
    font-weight: 500;
}

p, li, span, input, label, textarea {
    color: var(----secondaryText);
    font-family: "Roboto Mono", sans-serif;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(----secondaryText);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
   width: 1280px;
   margin: 0 auto;
 }

@media screen and (max-width: 1200px) {
.main-container {
  width: 95%;
}
}

a  {
  text-decoration: none; 
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 { font-size:56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}
